# Ignore OS Files
# MacOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
# Windows
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
$RECYCLE.BIN/
*.stackdump

# Ignore Apple Recovery
com.apple.recovery.boot/**

# Ignore Mounted
/mnt/
/Volumes/

# Ignore Secrets Dir
secrets


# Ignore swap files
*.swp
*~